doctype html
html( lang="en" )
    head
        meta( charset="UTF-8")
        meta( name="viewport", content="width=device-width, initial-scale=1.0" )
        meta( http-equiv="X-UA-Compatible", content="ie=edge" )

        title What if Obama said it?

        link( rel="stylesheet", href="main.css" )
        link( rel="icon", type="image/png", href="assets/favicon.png" )
        link( rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")

        script.
            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };

                return t;
            }(document, "script", "twitter-wjs"));

    body
        #app

        script( src="bundle.js" )
