header {
    background-color: white;
    height: 100px;
    left: 0;
    padding: 50px 100px 0 100px;
    position: fixed;
    top: 0;
    width: 100%;

    .breakpoint( @small-size, {
        padding: 30px 20px 0 20px;
        height: 80px;
    } );

    .center {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
        position: relative;

        &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            width : 100%;
            height: 1px;
            background-color: black;
            transition: width 0.7s ease-in-out 0.3s;
        }
    }

    .twitter-wrapper {
        transition: opacity 1s 1s;
    }

    &.before {
        .center::after {
            width: 0;
        }

        .twitter-wrapper {
            opacity: 0;
        }
    }

    .what-if {
        display: inline-block;
        position: relative;

        &::before, &::after {
            content: " ";
            width: 100%;
            height: 100%;
            background-color: black;
            top: 0;
            right: 0;
            position: absolute;
        }

        &::before {
            background-color: black;
        }

        &::after {
            background-color: white;
            outline: white;
        }
    }

    // black cover
    .what-if:first-child::before {
        transition: width 0.3s ease-in-out 0.4s;
    }


    // reveal (white cover)
    .what-if:first-child::after {
        transition: width 0.2s ease-in-out 0s;
    }

    &.enter, &.idle {
        .what-if::before, .what-if::after {
            width: 0;
        }
    }


}
