@import "normalize.less";
@import "variables.less";
@import "mixins.less";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "PT Serif", serif;
}

* {
    box-sizing: border-box;
}

.layer {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    transition: transform 0.7s cubic-bezier( .59, 0, .29, .98 ) 0.2s;
}

ul.before, ul.enter {
    transform: translate3d( 0, 100%, 0 );
}

@import "components/header.less";
@import "components/intro.less";
@import "components/tweet.less";
@import "components/link.less";
@import "components/rotation-cover.less";
